@media (min-device-width: 900px) {
  div.pokemon {
    position: relative;
    top: 0;
    left: 0;
    padding: 1rem;
    border: 1rem solid #d99e32;
    border-radius: 10px;
    min-width: 400px;
    width: 400px;
    height: 500px;
    margin: 1rem;
    background-color: #bf8034;
    text-align: center;
    transition: all 300ms;
    z-index: 0;
    cursor: pointer;
  }
  div.pokemon.active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vh;
    z-index: 1;
    cursor: default;
  }
  div.pokemon.active div.close {
    display: block;
  }
  div.top {
    display: flex;
    justify-content: space-between;
  }
  div.top div {
    align-self: center;
  }
  div.poke-stats {
    font-family: "Saira Stencil One", cursive;
    font-size: x-large;
  }
  div.close {
    display: none;
    position: absolute;
    top: -1rem;
    right: -1rem;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #d99e32;
    cursor: pointer;
  }
  div.poke-name {
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
  }
  div.pokemon.active div.poke-name {
    margin-left: 47%;
  }
  img.poke-img {
    width: 100%;
    max-width: 400px;
  }
  div.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #bf8034;
    text-align: center;
  }
  div.poke-stats-box {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    text-align: left;
  }
}
